<section fxLayout="column wrap" fxLayoutAlign="center" fxFlex="100%" id="home">
  <div fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100%">
    <header fxLayout="row" fxLayoutAlign="start" fxFlex="100%">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="33%">
        <a routerLink="/" class="small-link">
          <button>
            <i class="material-icons">home</i>
          </button>
        </a>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33%">
        <span>SEEK</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="end" fxFlex="33%">
        <app-cart></app-cart>
      </div>
    </header>
    <router-outlet fxLayout="column wrap" fxFlex="100%"></router-outlet>
    <footer fxLayout="row" fxLayoutAlign="start" fxFlex="100%">
      <span class="copyrigth">
          Copyright © 2019 Seek. Todos os direitos reservados.
      </span>
    </footer>
  </div>
</section>
