<section id="product-list" fxLayout="row wrap" fxLayoutAlign="center" fxFlex="100%">
  <div fxLayout="column wrap" fxLayoutAlign="start" fxFlex="30%" fxFlex.xs="100%" *ngFor="let product of listOfProducts;">
    <mat-card fxFlex="100%" fxLayoutAlign="center" fxLayout="row wrap">
        <mat-card-header fxFlex="100%" fxLayoutAlign="center">
          <mat-card-title><b>{{product.name}}</b></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://picsum.photos/220/220/?random" alt="Picture {{product.name}}">
        <mat-card-content fxFlex="100%" fxLayoutAlign="center" fxLayout="row wrap">
          <span fxFlex="100%" fxLayoutAlign="center">
            <b>{{product.value | currency:'BRL'}}</b>
          </span>
          <span class="desc-prod">{{product.desc}}</span>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
          <button (click)="addToCart(product)" mat-button fxLayoutAlign="center center" fxFlex="100%">
              <i class="material-icons">add_shopping_cart</i>
              Add to cart
          </button>
        </mat-card-actions>
      </mat-card>      
  </div>
</section>
