@import '_base.scss';
#product-list{
    mat-card{
        padding: 20px;

        img{
            max-width: 220px;
            max-height: 220px;
            border-radius: 5px;
        }
        mat-card-actions{
            button{
                height: 46px;
            }
        }
        .desc-prod{
            font-size: 12px;
        }
    }
}